.about-us {
	padding: 0 30px;
	margin-bottom: 70px;

	&__title {
		font-size: 25px;
		margin-bottom: 30px;
	}

	&__list {
		.list-reset();
	}

	&__item {
		font-size: 17px;
		margin-bottom: 40px;
		font-weight: bold;
		width:300px;
		margin-bottom: 45px;

		img {
			display: block;
			margin-bottom: 25px;
		}
	}
}

@media(min-width:@tablet-width) {
	.about-us {
		padding: 0 50px;
		&__wrapper{
			width: @tablet-width;
			margin: 0 auto;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		margin-bottom: 90px;
	}
	.about-us__title {
		font-size: 43px;
		margin-bottom: 50px;
	}
}

@media(min-width:@desktop-width) {
	.about-us {
		&__wrapper{
			width: @desktop-width;
		}
		&__title {
			font-size: 53px;
		}

		&__list {
			margin: 0 auto;
		}
		&__item{
			margin-right: 140px;
			margin-bottom: 60px;
		}
	}
}