.feature {
	width: 100%;

	&__list {
		.list-reset();
		margin-block-start: 0em;
		margin-block-end: 0em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 0;
	}

	&__item {
		padding: 0 30px;
		&:first-child{
			padding-right: 40px;
		}
		p {
			padding: 25px 0;
			font-size: 19px;
			line-height: 24px;
			color: #fff;
			font-weight: bold;
			margin: 0;
		}

		img {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&--light-blue {
			background-color: #63d1bb;
		}

		&--darker-blue {
			background-color: #56c3b2;
		}
	}

	margin-bottom: 30px;
}

@media(min-width: @tablet-width) {
	.feature {
		position: relative;
		top: -102px;
		&::before{
			content: '';
			position: absolute;
			bottom: -53px;
			left: 0;
			width: 100%;
			height: 30px;
			background-image: url(../../images/zigzag-fill.svg);
			background-repeat: no-repeat;
			padding: 0 50px;
		}
		&__wrapper{
			width: @tablet-width;
			padding:0;
			display: flex;
			margin: 0 auto;
			justify-content: center;
		}
	&__list {
		display: flex;
		margin-bottom: -40px;
	}
	&__item{
		p{
			padding-right: 140px;
		}
	}
}
}

@media(min-width: @desktop-width) {
	.feature {
		&::before {
			background-position: center;
			bottom: -57px;
			padding: 0;
			background-repeat: repeat;
		}

		&__wrapper {
			width: @desktop-width;
		}

		&__list {
			width: 100%;
		}

		&__item {
			flex-grow: 1;
		}

	}
}