.advantages {
  margin-bottom: 90px;
}
.advantages__list {
  background-color: #242424;
  color: #f7f4f1;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.advantages__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.advantages__description {
  text-align: center;
  margin-bottom: 30px;
}
.advantages__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.advantages__item img {
  width: 95px;
  height: 94px;
  margin-bottom: 35px;
}
.advantages__toggles {
  display: flex;
  justify-content: center;
}
.advantages__toggles button {
  display: block;
  font-size: 0;
  line-height: 0px;
  padding: 0;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border: 2px solid #646464;
  background: transparent;
  margin-right: 23px;
  transform: rotate(45deg);
}
@media (min-width: 768px) {
  .advantages {
    margin-top: 50px;
  }
  .advantages__toggles {
    display: none;
  }
  .advantages__list {
    background-color: #353535;
  }
  .advantages__item {
    padding: 35px;
    margin: 0;
    align-items: center;
    position: relative;
  }
  .advantages__item::after {
    content: "";
    display: block;
    position: absolute;
    width: 74%;
    height: 5px;
    border-bottom: 1px solid #4a4a4a;
    bottom: 0;
  }
  .advantages__item img {
    margin: 0;
    margin-right: 35px;
  }
  .advantages__description {
    width: 446px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    width: 960px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 250px;
    overflow-x: hidden;
  }
  .advantages::before {
    content: "";
    position: absolute;
    top: 1340px;
    display: block;
    width: 0;
    height: 500px;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 100px solid #353535;
    left: 0 ;
    right: 0;
  }
  .advantages__item {
    flex-direction: column;
  }
  .advantages__item::after {
    border: none;
  }
  .advantages__item img {
    margin: 0;
    margin-bottom: 40px;
  }
  .advantages__item:nth-child(2)::after,
  .advantages__item:nth-child(2)::before {
    content: "";
    display: block;
    position: absolute;
    height: 74%;
    width: 2px;
    background: #4a4a4a;
  }
  .advantages__item:nth-child(2)::after {
    right: 0;
    bottom: auto;
  }
  .advantages__item:nth-child(2)::before {
    left: 0;
  }
  .advantages__description {
    width: 238px;
  }
  .advantages__list {
    flex-direction: row;
  }
}
.button {
  display: inline-block;
  padding: 13px 50px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #3e3e3e;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.copytight__text {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
.copytight__link {
  text-align: center;
  display: block;
  color: #ffffff;
  margin: 0 20px;
}
.main-nav {
  width: 100%;
  min-height: 51px;
  margin: 0 auto;
  background-color: #6a4d38;
  position: relative;
}
.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 52px;
  background-color: #493526;
  border: none;
  cursor: pointer;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #59412f;
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #fff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
  box-shadow: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: " ";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #fff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle::before .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 16px 0 0 rgba(255, 255, 255, 0.3);
}
@media (max-width: 767px) {
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .site-list__item--active {
    display: block;
    text-align: center;
    padding-right: 70px;
  }
  .main-nav--closed .user-list__item {
    display: none;
  }
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}
.main-nav--nojs .site-list__item {
  display: block;
}
.main-nav--nojs .site-list__item a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}
.main-nav--nojs .site-list__item--active {
  padding-right: 0;
  background-color: #9c7152;
}
.main-nav--nojs .user-list__item {
  display: block;
  background-color: #6a4d38;
}
@media (min-width: 768px) {
  .main-nav {
    margin: 0;
    background: #000;
    width: 100%;
    margin: 0 auto;
  }
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  .main-nav .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    width: 100%;
  }
  .main-nav__wrapper {
    width: 960px;
  }
}
.modal {
  display: none;
  margin: 0 auto;
  position: fixed;
  top: 20%;
  left: 35%;
  width: auto;
  background-color: #f8f5f2;
  padding: 40px 20px;
  width: 360px;
}
.modal__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.modal__description {
  margin-bottom: 30px;
  text-align: center;
}
.modal input[type="text"],
.modal input[type="password"] {
  display: block;
  width: auto;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 40px 10px 20px;
  color: #000000;
  border: 1px solid #e5ddd5;
  margin-bottom: 10px;
}
.modal__forget {
  color: #000000;
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.modal__button {
  border: none;
  background-color: #826550;
  color: #ffffff;
  display: block;
  margin-right: 20px;
  font: inherit;
  font-weight: bold;
}
.modal__close {
  border: 1px solid #4a4a4a;
  background-color: inherit;
  font: inherit;
  font-weight: bold;
}
.modal__button-wrapper {
  display: flex;
}
.modal__input-wrapper {
  display: flex;
  flex-direction: column;
}
.news {
  margin-bottom: 60px;
}
.news__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.news__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.news__date {
  display: flex;
  flex-direction: column;
}
.news__item {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #e5ddd5;
  color: #000000;
  font-weight: 600;
}
.news__to-all {
  border-color: #e5ddd5;
  display: block;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 27px;
}
.news__day {
  padding-top: 20px;
  margin-right: 35px;
}
@media (min-width: 768px) {
  .news {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #e5ddd5;
  }
  .news__item {
    width: 280px;
    border: none;
    margin-right: 40px;
  }
  .news__wrapper {
    position: relative;
  }
  .news__to-all {
    position: absolute;
    top: -83px;
    right: 0;
  }
  .news__title {
    position: absolute;
    top: -50px;
  }
}
@media (min-width: 1200px) {
  .news {
    width: 960px;
    margin-bottom: 45px;
  }
}
.page-footer {
  background-color: #292929;
  color: #ffffff;
  padding-bottom: 25px;
  border-top: 1px solid #353535;
}
.contacts {
  border: 1px solid #353535;
  padding: 40px 35px 25px 35px;
}
.contacts__title {
  font-size: 18px;
  text-transform: capitalize;
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.contacts__phone {
  display: block;
  text-align: center;
  color: #ffffff;
}
.copytight__text {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 35px;
}
@media (min-width: 768px) {
  .page-foote__wrapper {
    display: flex;
    width: 768px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    align-content: center;
  }
  .page-footer__social {
    order: 1;
    width: 100%;
  }
  .page-footer__contacts {
    border: none;
    display: flex;
    flex-direction: column;
  }
  .contacts__phone {
    margin: 0;
    padding: 0;
    border: none;
    text-align: start;
  }
  .page-footer__copytight {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .page-footer .page-foote__wrapper {
    width: 1200px;
    flex-wrap: nowrap;
  }
  .page-footer .contacts {
    padding: 0;
    flex-shrink: 0;
    order: 1;
  }
  .page-footer__social {
    order: 2;
  }
  .page-footer__copyright {
    order: 3;
    margin-bottom: 80px;
  }
}
.page-form__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 35px;
}
input[type="text"]::placeholder,
textarea::placeholder {
  font-family: 'PTSansNarrow';
  font-size: 20px;
  color: #000000;
  opacity: 1;
}
.form__name-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.form__item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form__item input[type="text"] {
  font-size: 18px;
  line-height: 30px;
  padding: 10px 40px 10px 20px;
  color: #000;
  border: 1px solid #e5ddd5;
  margin-bottom: 10px;
}
.form__item input[type="radio"] {
  display: none;
}
.form__contacts-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.form textarea {
  border: 1px solid #e5ddd5;
  width: 100%;
  margin-bottom: 40px;
}
.form legend {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-bottom: 45px;
}
.form .beard-wrapper .form__list-title {
  margin-bottom: 90px;
}
.form__beard-list {
  margin-bottom: 45px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.form__beard-list label {
  font-size: 18px;
}
.form__beard-list .beard__item {
  margin: 0 25px;
}
.form__beard-list .beard__item img {
  top: 20px;
  margin-bottom: 90px;
}
.form__beard-list .beard__item label {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form__beard-list .beard__item label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -50px;
  border-radius: 50%;
  border: 2px solid #e7e0d8;
  background-color: #fff;
}
.form__beard-list .beard__item input[type="radio"]:checked + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -50px;
  border-radius: 50%;
  border: 2px solid #e7e0d8;
  background-image: url(../../../images/Shape.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
}
.form__submit {
  color: #ffffff;
  background-color: #826550;
  border: none;
  margin-bottom: 40px;
}
.form input[type="checkbox"] {
  display: none;
}
.form__addtional-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.form__addtional-list .addtional__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  padding-left: 60px;
  position: relative;
}
.form__addtional-list .addtional__item label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10px;
  top: -7px;
  border: 2px solid #e7e0d8;
  background-color: #fff;
}
.form__addtional-list .addtional__item input[type="checkbox"]:checked + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url(../../../images/checked.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.form__addtional-list label {
  margin-left: 20px;
}
@media (min-width: 768px) {
  .form__name-list {
    width: 768px;
    margin: 0 auto;
    flex-direction: row;
  }
  .form__item {
    margin-bottom: 35px;
  }
  .form__contacts-list {
    width: 768px;
    margin: 0 auto;
  }
  .form__textarea {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 70px;
    resize: none;
  }
  .form__beard-list {
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .form__addtional-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .addtional__item {
    width: 50%;
  }
  .form__submit {
    width: 768px;
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .form__list-title {
    position: relative;
    background-color: #fff;
  }
  .form__list-title::before,
  .form__list-title::after {
    content: "";
    position: absolute;
    display: block;
    top: 13px;
    width: 23.3%;
    height: 1px;
    background: #e5ddd5;
  }
  .form__list-title::after {
    right: 10%;
  }
  .form__list-title::before {
    left: 10%;
  }
}
@media (min-width: 1200px) {
  .form__name-list {
    width: 960px;
    justify-content: space-between;
  }
  .form__name-list .form__item {
    width: 31%;
  }
  .form__contacts-list {
    width: 960px;
    flex-direction: row;
    justify-content: space-between;
  }
  .form__contacts-list .form__item {
    width: 48%;
  }
  .form__textarea {
    width: 960px;
    height: 210px;
    margin-bottom: 80px;
  }
  .beard-wrapper {
    width: 960px;
    margin: 0 auto;
  }
  .form__beard-list {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .form__addtional-list {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .addtional__item {
    width: 30%;
  }
  .form__submit {
    width: 960px;
  }
}
.page-header {
  background-color: #242424;
  display: flex;
  flex-direction: column;
}
.page-header__logo {
  text-align: center;
}
.page-header__logo-image {
  height: 85px;
  width: 226px;
}
@media (min-width: 768px) {
  .page-header {
    background: #000;
    background-image: url("../../images/main-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
  }
  .page-header__logo {
    height: 400px;
    width: 100%;
    order: 2;
  }
  .page-header__logo img {
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    background-image: url("../../images/main-bg-desktop.jpg");
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
  }
  .page-header__logo {
    height: 648px;
  }
  .page-header__logo img {
    margin-top: 57px;
  }
}
.page-works {
  background-color: #f8f5f2;
}
.page-works__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  margin-top: 35px;
}
.return-button {
  display: none;
}
.works-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 100px;
}
.works-list__item {
  border: 1px solid #e5ddd5;
  border-top: none;
  margin-bottom: 20px;
  background-color: #f8f5f2;
}
.hidden_word {
  display: none;
}
.customer__image {
  height: 100%;
  width: 100%;
  margin-bottom: 25px;
}
.customer__name {
  font-size: 30px;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 25px;
}
.customer__text {
  display: block;
  font-size: 18px;
  padding: 0 20px;
  margin-bottom: 25px;
}
.services {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;
}
.services__item {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
  padding: 0;
  padding: 0 45px;
  margin-top: -30px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 27px;
  width: 45%;
}
.services__item p {
  margin: 0;
}
.services__item::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 31px;
  left: -40px;
}
.services__item--hair-cut::before {
  width: 21px;
  height: 20px;
  background-image: url(../../../images/scissors-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.services__item--beard::before {
  width: 23px;
  height: 21px;
  background-image: url(../../../images/beard-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.services__item--mustache::before {
  width: 45px;
  height: 12px;
  background-image: url(../../../images/mustache-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  left: -45px;
}
.works__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media (min-width: 768px) {
  .works {
    width: 768px;
    margin: 0 auto;
  }
  .title {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .page-works__title__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
  .return-button {
    display: block;
    margin-top: 20px;
    margin-bottom: auto;
    border: 1px solid #e5ddd5;
  }
  .return-button:hover {
    background-color: #9b7544;
    color: #fff;
  }
  .hidden_word {
    display: initial;
  }
  .works-list__item {
    display: flex;
    height: 100%;
    border-left: none;
    margin-bottom: 40px;
  }
  .works-list__item img {
    width: 270px;
    height: 294px;
    margin-bottom: -5px;
  }
  .works-list__item--special img {
    height: 480px;
    margin-bottom: -5px;
  }
  .works__column {
    height: auto;
  }
  .service-wrapper {
    height: auto;
  }
  .services {
    height: auto;
    margin-top: auto;
  }
}
@media (min-width: 1200px) {
  .works {
    width: 960px;
    margin: 0 auto;
  }
  .page-works__title__wrapper {
    width: 960px;
  }
  .works-list {
    display: flex;
    flex-wrap: wrap;
  }
  .works-list__item:nth-child(3) {
    margin-right: 0;
  }
  .works-list__item {
    width: 300px;
    flex-direction: column;
    margin-right: 20px;
    height: auto;
  }
  .works-list__item--special {
    width: 960px;
    flex-direction: row;
    margin-right: 0;
  }
  .works-list__item--special .customer__name {
    padding-top: 140px;
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
  .works-list__item:nth-child(4) {
    margin-right: 0;
    margin-left: 40px;
  }
}
.price-current {
  padding: 20px;
  background-color: #353535;
  color: #ffffff;
}
.price-current__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  margin-bottom: 30px;
}
.price-current__watch {
  width: 58px;
  height: 57px;
}
.price-current__stock {
  display: flex;
  border: 1px solid #484848;
  margin: 0;
  padding: 14px;
}
.price-current__time {
  margin: 0;
  margin-top: 5px;
  margin-left: 35px;
}
.price-current .table-addtional {
  display: block;
}
.price-table {
  width: 100%;
  color: #fff;
  border: none;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  margin-bottom: 35px;
}
.price-table .field {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-transform: capitalize;
  display: block;
  text-align: left;
  margin-top: 25px;
}
.price-table .field small {
  margin-bottom: 20px;
}
.price-table .value {
  font-stretch: condensed;
}
.price-table .table-number {
  display: none;
}
@media (min-width: 768px) {
  .price-current {
    margin: 0 auto;
    width: 100%;
  }
  .price-table {
    border-collapse: collapse;
  }
  .price-table tr {
    display: table-row;
  }
  .price-table .table-addtional {
    display: table-cell;
  }
  .price-table td {
    border: 1px solid #4a4a4a;
    padding: 13px 20px;
  }
  .price-table .table-number {
    padding: 13px 30px;
    display: table-cell;
  }
  .price-table .table-hidden {
    display: none;
  }
  .price-table .field {
    display: table-cell;
    padding-left: 20px;
  }
  .price-current__watch {
    width: 72px;
    height: 71px;
  }
  .price-current__time {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 12px;
  }
  .price-current__stock {
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .price-current {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 85px;
  }
  .price-current__title {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 55px;
    text-align: left;
  }
  .price-current__stock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: auto;
  }
  .price-current__watch {
    width: 142px;
    height: 139px;
    margin: 0;
    padding: 0;
  }
  .price-current__time {
    width: 125px;
    font-size: 20px;
    line-height: 20px;
    font-weight: lighter;
    text-transform: initial;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .price-current__column {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .price-table {
    width: 640px;
    margin: 0 auto;
    margin-right: 60px;
  }
}
.review {
  width: 100%;
}
.review__title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.review__author-name {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  font-style: normal;
  display: block;
}
.review__text {
  margin-bottom: 30px;
}
.review__toggles {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.review__toggles button {
  display: block;
  font-size: 0;
  line-height: 0px;
  padding: 0;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border: 2px solid #646464;
  background: transparent;
  margin-right: 23px;
  transform: rotate(45deg);
}
.review__toggles button:nth-child(1) {
  background-color: #646464;
}
.review__write {
  display: none;
}
.review__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  margin: 0 auto;
}
.review__list .slider__item__wrapper {
  width: 195px;
  flex-grow: 1;
}
.review__item {
  display: flex;
}
.review__item img {
  width: 50px;
  margin-right: 20px;
  flex-grow: 1;
}
.review__controls {
  display: none;
}
@media (min-width: 768px) {
  .review {
    padding: 50px 65px;
    padding-top: 0;
    margin-bottom: 70px;
  }
  .review__write {
    display: inline-block;
    margin-bottom: auto;
    margin-top: 5px;
  }
  .review__title {
    font-size: 40px;
    line-height: 0;
  }
  .review .title__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }
  .review__list {
    border: 1px solid #e5ddd5;
    padding: 30px 90px;
    width: 100%;
  }
  .review__wrapper {
    position: relative;
  }
  .review__controls {
    display: flex;
    position: relative;
    justify-content: space-between;
    top: -181px;
  }
  .review__prew,
  .review__next {
    width: 50px;
    height: 181px;
    background: transparent;
    padding: 0;
    margin: 0;
    position: absolute;
  }
  .review__prew {
    background-image: url(../../../images/left-arrow.svg);
    background-size: 30%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 50%;
    border: none;
    border-right: 1px solid #e5ddd5;
  }
  .review__next {
    background-image: url(../../../images/left-arrow.svg);
    background-size: 30%;
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    border: none;
    border-right: 1px solid #e5ddd5;
    cursor: pointer;
    right: 0;
  }
  .review__toggles {
    position: relative;
    background-color: #fff;
    padding: 0 25px;
    margin: 0;
    width: 130px;
    top: -6px;
    left: 40.9%;
  }
  .review__toggles button:nth-child(3) {
    margin-right: 0;
  }
  .review__item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}
@media (min-width: 1200px) {
  .review__list {
    width: 80%;
    padding: 0;
  }
  .review .title__wrapper {
    justify-content: space-around;
  }
  .review__author-picture {
    margin: 0;
    padding: 0;
    line-height: 0;
  }
  .review__author-name {
    margin: 0;
    padding: 0;
    margin-top: 35px;
  }
  .review__item img {
    border-radius: initial;
    width: 249px;
    height: 161px;
    padding: 0;
    margin: 0;
    margin-right: 75px;
  }
  .review__controls {
    top: -163px;
  }
  .review__prew,
  .review__next {
    border: 1px solid #e5ddd5;
    height: 163px;
  }
  .review__prew {
    left: 4%;
  }
  .review__next {
    right: 4%;
  }
}
.site-list {
  background-color: #826550;
  position: relative;
}
.site-list__item a {
  line-height: 24px;
  color: #000;
  font-weight: 600;
  display: inline-block;
  padding: 13px 50px;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid #3e3e3e;
  text-decoration: none;
  display: block;
  color: #fff;
  border-top-color: #886e5b;
  border-bottom-color: #71543f;
  font-weight: bold;
}
.site-list__item:hover {
  background-color: #725946;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 570px;
    background: none;
  }
  .site-list__item {
    margin-right: 32px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }
  .site-list__item a[href]:hover {
    color: #826550;
    background: #000;
  }
  .site-list__item a[href]:active {
    background: #fff;
    opacity: 0.3;
  }
  .site-list__item--active {
    position: relative;
  }
  .site-list__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 3px;
    background-color: #826550;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 780px;
  }
  .site-list__item {
    margin-right: 0;
  }
  .site-list__item--active:after {
    right: 30px;
    left: 30px;
  }
  .site-list__item a {
    padding-right: 31px;
    padding-left: 31px;
  }
  .site-list__item a[href]:hover {
    color: #000;
    background-color: #fff;
  }
  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #fff;
    opacity: 1;
  }
}
.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.social__item {
  width: 108px;
  height: 101px;
  border: 1px solid #3e3e3e;
}
.social__item:hover {
  opacity: 0.4;
}
.social__item:nth-child(1) img {
  width: 23px;
  height: 26px;
  margin-top: 35px;
  margin-left: 38px;
}
.social__item:nth-child(2) img {
  width: 18px;
  height: 39px;
  margin-left: 40px;
  margin-top: 28px;
}
.social__item:nth-child(3) img {
  width: 36px;
  height: 36px;
  margin-top: 30px;
  margin-left: 37px;
}
.social__title {
  display: none;
}
@media (min-width: 768px) {
  .social {
    margin: 50px 65px 55px 50px;
  }
  .social__list {
    border: 1px solid #3e3e3e;
    justify-content: space-between;
    padding-left: 92px;
    padding-right: 92px;
  }
  .social__item {
    border: none;
  }
}
@media (min-width: 1200px) {
  .social__list {
    border: none;
    justify-content: center;
  }
  .social__item {
    border: 1px solid #3e3e3e;
    margin-right: 8px;
    width: 50px;
    height: 50px;
  }
  .social__item:nth-child(1) {
    margin-right: 8px;
  }
  .social__item:nth-child(1) img {
    margin: 15px 18px;
    width: 15px;
    height: 17px;
  }
  .social__item:nth-child(2) img {
    margin: 15px 20px;
    width: 10px;
    height: 21px;
  }
  .social__item:nth-child(3) img {
    width: 19px;
    height: 19px;
    margin: 15px 15px;
  }
}
.stats {
  width: 320px;
  margin: 0 auto;
}
.stats__slogan {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 30px;
  padding-top: 35px;
  font-weight: bold;
  text-transform: uppercase;
}
.stats__intro {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
.stats__header {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
  color: #000000;
  background-color: #fff;
}
.stats__table {
  width: 100%;
}
.stats__table {
  border-collapse: collapse;
  width: 100%;
}
.stats__table tr {
  color: #fff;
  background-color: #404040;
}
.stats__table .color-1 {
  background-color: #404040;
}
.stats__table .color-2 {
  background-color: #4e4e4e;
  padding-bottom: 20px;
}
.stats__table .color-3 {
  background-color: #353535;
  padding-bottom: 20px;
}
.stats__table .color-4 {
  background-color: #404040;
}
.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
}
.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;
}
.stats__value sup {
  top: -0.35em;
  margin-left: 5px;
}
.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
.stats__legent {
  display: block;
  font-size: 20px;
  line-height: 20px;
}
.stats__legent--bottom {
  padding-top: 20px;
  padding-bottom: 45px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #242424;
}
.stats__legent--top {
  display: none;
}
@media (min-width: 768px) {
  .block-mock {
    height: 390px;
    background-color: #353535;
  }
  .stats {
    width: 640px;
    margin-top: -642px;
    background-color: #353535;
  }
  .stats__legent--bottom {
    display: none;
  }
  .stats__legent--top {
    display: block;
    width: 240px;
    color: rgba(0, 0, 0, 0.3);
  }
  .stats__table {
    display: flex;
  }
  .stats__table tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .stats__table tr {
    width: 250px;
    padding: 25px 35px;
    padding-bottom: 28px;
    flex-grow: 1;
  }
  .stats__table td {
    display: block;
    width: auto;
    padding: 0;
  }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
  .stats__field br {
    display: none;
  }
  .stats__slogan {
    width: 240px;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
    padding: 0;
  }
  .stats__intro {
    width: 210px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    text-align: left;
  }
  .stats__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    min-height: 129px;
  }
  .stats__header:BEFORE {
    CONtent: "";
    position: absolute;
    top: 27px;
    left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    transform: rotate(45deg);
  }
  .block-mock {
    height: 469px;
  }
  .stats__table {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .block-mock {
    height: 620px;
  }
  .stats {
    display: flex;
    width: 960px;
    margin-top: -778px;
  }
  .stats__header {
    display: block;
    width: 320px;
    padding: 35px;
  }
  .stats__header::before {
    top: 22px;
  }
  .stats__table {
    width: 640px;
    display: block;
  }
  .stats__slogan {
    width: auto;
    margin-bottom: 42px;
    line-height: 40px;
  }
  .stats__intro {
    width: auto;
    margin-bottom: 32px;
  }
  .stats__legent--top {
    width: 100%;
  }
}
.user-list {
  background-color: #6a4d38;
  position: relative;
}
.user-list__link {
  color: #fff;
  text-transform: capitalize;
  border: none;
  font-weight: normal;
  font-stretch: ultra-condensed;
  padding: 13px 50px;
  text-decoration: none;
  display: block;
}
.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  opacity: 0.3;
}
.user-list__login-icon path {
  fill: #fff;
  opacity: 0.5;
}
.user-list__login-icon path:hover {
  fill: #000;
  opacity: 1;
}
@media (min-width: 768px) {
  .user-list {
    width: 60px;
    background: #000;
  }
  .user-list__link {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0;
  }
  .user-list__login-icon {
    opacity: 1;
    top: 29px;
    left: 12px;
  }
  .user-list__login-icon path {
    fill: #fff;
  }
}
@media (min-width: 1200px) {
  .user-list {
    width: 160px;
  }
  .user-list__link {
    width: 160px;
    position: relative;
    padding-top: 28px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
  .user-list__link:hover {
    color: #000;
    background-color: #fff;
  }
  .user-list__link:hover:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .user-list__link:hover:active path {
    fill: #000;
  }
  .user-list__login-icon {
    left: 15px;
    opacity: 1;
    top: 29px;
    left: 12px;
  }
  .user-list__login-icon path {
    fill: #fff;
  }
  .user-list__login-icon:active .user-list__login-icon {
    opacity: 0.1;
  }
}
/* ----------------------------------------------------- Глобалные стили ---------------------------------------------------------- */
@font-face {
  font-family: 'PTSansNarrow';
  src: url('../fonts/ptsansnarrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansNarrow';
  src: url('../fonts/ptsansnarrowbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: PTSansNarrow, sans-serif;
  font-size: 18px;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}
/* ------------------------------------------------------- миксинны -------------------------------------------------------------- */
/* ------------------------------------------------------- Переменые -------------------------------------------------------------- */
